/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: linear-gradient(#3498DB, #dedede);
  background-attachment: fixed;
  height: 100vh;
  min-height: 800px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

/*Main Container and Forms*/
#mainContainer{
  width: 40% !important;
  height: 490px;
  background: #fff;
  border-radius: 7px;
  padding: 30px;
  transition: height 0.5s ease;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.form :where(input, button, select){
  width: 100%;
  height: 58px;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: 0.1s ease;
}

.form input, select{
  font-size: 20px !important;
  border: 1px solid #999 !important;
}

.form input:focus, select:focus{
  box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}

.form input::placeholder, select::placeholder{
  color: #999;
}

.form label {
  color: #999;
  margin-left: 15px;
}

.form button{
  color: #FFF;
  cursor: pointer;
  font-size: 18px;
  background: #3498DB;
}

.form button:hover{
  transition: 0.3s;
  background: #0075c3;
}

.color-input {
  padding-right: 0px !important;
}

.color-input input {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.color-picker {
  padding-left: 0px !important;
}

.color-picker input {
  padding: 0px;
  margin-left: -4px;
  border: none !important;
}
/*--------------*/

/*Text Formating*/
header h1{
  font-size: 30px;
  font-weight: 500;
}

header p{
  margin-top: 5px;
  color: #575757;
  font-size: 16px;
}

fieldset {
  font-weight: 400;
  color: #3a3a3a;
}
/*----------------*/

/*Wrapper Active*/
#mainContainer.active{
  height: 750px;
}
/*--------------*/

/*Result Request*/
.qr-code-result{
  opacity: 0;
  pointer-events: none;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

#mainContainer.active .qr-code-result{
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s 0.05s ease;
}

.qr-code-result img{
  width: 150px;
  display: block;
}
/*--------------*/

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
  #mainContainer {
    width: 80% !important;
    height: 700px;
  }

  #mainContainer.active{
    height: 920px;
  }

  #key, #color{
    margin-bottom: 15px;
  }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
  #mainContainer {
    width: 60% !important;
    height: 660px;
  }

  #mainContainer.active{
    height: 920px;
  }

  #key, #color{
    margin-bottom: 15px;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
  #mainContainer {
    width: 70% !important;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
  #mainContainer {
    width: 60% !important;
  }
}
